<div class="row">

  <div class="columns small-4">

    <label>
      <span>Character</span>
      {{input type="text" value=signature.characterName}}
    </label>

  </div>

  <div class="columns small-8">

    <label>
      <span>Message</span>
      {{input type="text" value=signature.message}}
    </label>

  </div>

  <div class="small-12 columns">

    {{#each backgrounds as |background|}}
      <div class="dgm-background">
        <img
          src="{{background.image}}"
          alt="Background #{{background.id}}"
          {{action "backgroundChanged" background}}
        />
      </div>
    {{/each}}

  </div>

</div>