<div
  class="signature-preview"
  style="
    color: {{signature.textColor}};
    background-color: {{signature.backgroundColor}};
    background-image: url('/images/backgrounds/{{signature.backgroundImage}}');
">

  {{#if signature.clanImage}}
    <img class="clan-logo alliance" src="{{signature.clanImage}}">
  {{/if}}

  {{#if signature.characterName}}
    <div class="character-name">{{signature.characterName}}</div>
  {{/if}}

  {{#if signature.message}}
    <div class="message">{{signature.message}}</div>
  {{/if}}

</div>